# 00 라이브러리 & 민원분류 결과 로딩

### 라이브러리

In [2]:
import pandas as pd
import numpy as np
import pickle

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

### 민원분류 결과 불러오기

In [3]:
os.chdir("c:/머신러닝/미니프로젝트/데이터")
print(os.getcwd())

c:\머신러닝\미니프로젝트\데이터

In [4]:
result_df = pd.read_excel('민원분류 예측결과.xlsx')
result_df

,제안번호,제안제목,제안내용,득표,제안등록일자,contents,tokens,all_tokens,분류,분류2
0,186203,중금속 문제가 심각해지고 있는데 중금속으로 분리할수 있는 방법은 없을까요?,"<span style=""font-size: 12px;"">중금속 문제가 심각해지고 있...",0,2019-12-18 01:21:40,중금속 문제가 심각해지고 있는데 중금속으로 분리할수 있는 방법은 없을까요?\n중금속...,"['중금속', '중금속', '분리', '중금속', '중금속', '분리', '폐수',...","['중금속', '가', '심각', '하', '고', '있', '는데', '중금속',...",환경,건강
1,186202,제설제에 사용되는 cacl2에서 염소가 환경오염을 일으킨다는데 친환경적인걸로 바꿔주새요,제설제에 사용되는 cacl2에서 염소가 환경오염을 일으킨다는데 친환경적인걸로 바꿔주...,0,2019-12-18 00:41:00,제설제에 사용되는 cacl2에서 염소가 환경오염을 일으킨다는데 친환경적인걸로 바꿔주...,"['제설', '염소', '환경오염', '일으키다', '환경', '바꾸다', '새',...","['제설', '제', '에', '되', '는', 'cacl', '2', '에서', ...",환경,안전
2,186201,"지하철역 위의 임대아파트 건설 후 청년, 신혼부분에게 임대",서울시의 경우 지하철이 상당히 발달되어 있어 교통서비스를 제공하고 있습니다.&nbs...,0,2019-12-17 13:41:34,"지하철역 위의 임대아파트 건설 후 청년, 신혼부분에게 임대\n서울시의 경우 지하철이...","['지하철역', '위', '임대아파트', '건설', '청년', '신혼', '임대',...","['지하철역', '위', '의', '임대아파트', '건설', '청년', '신혼', ...",주택,환경
3,186200,재활용 정거장이나 원룸에 재활용 쓰레기통 지원을 늘려주세요,몇몇구에서는 재활용 쓰레기 분리수거함을 원룸촌에 제공해주는 것으로 알고있는데요. 대...,0,2019-12-17 11:10:03,재활용 정거장이나 원룸에 재활용 쓰레기통 지원을 늘려주세요\n몇몇구에서는 재활용 쓰...,"['재활용', '정거장', '원룸', '재활용', '쓰레기통', '지원', '늘리다...","['재활용', '정거장', '이나', '원룸', '에', '재활용', '쓰레기통',...",환경,교통
4,186199,임산부석을 마냥 비워두지 않는 방법,<p>저는 지하철을 자주 애용하는 여성입니다.</p><p>임산부석이 지정되어 있어 ...,0,2019-12-17 10:55:54,임산부석을 마냥 비워두지 않는 방법\n저는 지하철을 자주 애용하는 여성입니다.임산부...,"['임산부', '석', '마냥', '비우다', '지하철', '자주', '애용', '...","['임산부', '석', '마냥', '비우', '어', '두', '지', '않', '...",교통,여성
...,...,...,...,...,...,...,...,...,...,...
4190,180039,버스 정류장 근처의 빛 공해를 해결해 주세요 !,&nbsp;강동구 5호선 명일역 3번 출구에서 올라오면&nbsp; &nbsp;바로&...,0,2017-12-22 16:37:33,버스 정류장 근처의 빛 공해를 해결해 주세요 !\n강동구 5호선 명일역 3번...,"['버스', '정류장', '근처', '빛', '공해', '해결', '강동구', '명...","['버스', '정류장', '근처', '의', '빛', '', '공해', '를', '...",환경,교통
4191,180038,서울시내버스 안내방송을 부탁드려요 !,&nbsp;서울 시내 버스를 자주 이용하는 편입니다.&nbsp; 버스 내부에는 주로...,1,2017-12-21 18:44:46,서울시내버스 안내방송을 부탁드려요 !\n서울 시내 버스를 자주 이용하는 편입니다. ...,"['서울시내', '버스', '안내', '방송', '드리다', '시내', '버스', ...","['서울시내', '버스', '안내', '방송', '드리', '어요', '시내', '...",교통,복지
4192,180037,서울역 인근 버스정류장 명 병행표기 제안.,<p>안녕하세요.</p><p>버스를 타고 서울역을 자주 지나는데 항상 이에 의문을 ...,1,2017-12-21 11:13:14,서울역 인근 버스정류장 명 병행표기 제안.\n안녕하세요.버스를 타고 서울역을 자주 ...,"['서울역', '인근', '버스정류장', '병행', '표기', '버스', '타다',...","['서울역', '인근', '버스정류장', '명', '병행', '표기', '버스', ...",교통,문화
4193,180036,따릉이 보관소 설치 제안,서초역 주변에 따릉이 보관소 설치를 제안합니다!,0,2017-12-20 18:54:23,따릉이 보관소 설치 제안\n서초역 주변에 따릉이 보관소 설치를 제안합니다!,"['따릉이', '보관소', '설치', '서초역', '따릉이', '보관소', '설치']","['따릉이', '보관소', '설치', '서초역', '에', '따릉이', '보관소',...",교통,환경
4194,180033,이륜차(오토바이)업소 주변 행정지도 통해 거리질서 확립필요,"<p>서울시내 어디를 가보든지간에 이륜차 수리업소를 쉽게 볼 수가 있다,</p><p...",0,2017-12-18 20:33:46,이륜차(오토바이)업소 주변 행정지도 통해 거리질서 확립필요\n서울시내 어디를 가보든...,"['이륜차', '오토바이', '업소', '행정지', '거리', '질서', '확립',...","['이륜차', '오토바이', '업소', '행정지', '도', '통하', '아', '...",교통,환경

# 01 기술통계량 분석 #

## 민원 분류 예측결과 테이블로 정리

In [5]:
category_table = result_df[['분류','분류2']].apply(pd.Series.value_counts)
category_table

      분류   분류2
건강   282   482
경제   202   244
교통  1086   466
문화   359   447
복지   260   350
세금    17    39
안전   145   588
여성   293   208
주택   394   239
환경  1157  1132

### '분류' 내림차순으로 재정렬

In [6]:
category_table = category_table.sort_values(by='분류',ascending=False)
category_table

      분류   분류2
환경  1157  1132
교통  1086   466
주택   394   239
문화   359   447
여성   293   208
건강   282   482
복지   260   350
경제   202   244
안전   145   588
세금    17    39

### 민원 분류 예측결과 테이블 엑셀로 저장

In [33]:
category_table.to_excel('./결과/민원분류 예측결과 개수_17_19.xlsx')

## 연도별 민원 트랜드 분석

### '연도' 컬럼 생성

In [8]:
result_df['연도'] = result_df['제안등록일자'].dt.year
result_df['연도']

0       2019
1       2019
2       2019
3       2019
4       2019
        ...
4190    2017
4191    2017
4192    2017
4193    2017
4194    2017
Name: 연도, Length: 4195, dtype: int64

### 민원분류-연도 피벗 테이블 생성

In [9]:
# 연도별 민원 분류 개수 테이블
category_year_size = pd.crosstab(result_df['분류'],result_df['연도'])
category_year_size

연도  2017  2018  2019
분류
건강     0   164   118
경제     0    95   107
교통     6   428   652
문화     0   118   241
복지     1   132   127
세금     0     8     9
안전     1    74    70
여성     0   162   131
주택     0   257   137
환경     1   541   615

In [10]:
# 연도별 민원 분류 비율 테이블
category_year_percent = pd.crosstab(result_df['분류'],result_df['연도']).apply(lambda x:x/x.sum()*100,axis=0)
category_year_percent

연도       2017       2018       2019
분류
건강   0.000000   8.287014   5.346624
경제   0.000000   4.800404   4.848210
교통  66.666667  21.627084  29.542365
문화   0.000000   5.962607  10.919801
복지  11.111111   6.670035   5.754418
세금   0.000000   0.404245   0.407793
안전  11.111111   3.739262   3.171726
여성   0.000000   8.185953   5.935659
주택   0.000000  12.986357   6.207522
환경  11.111111  27.337039  27.865881

In [13]:
# 연도별 민원 분류 개수/비율 테이블 통합
pd.concat([category_year_size,category_year_percent],axis=1)

연도  2017  2018  2019       2017       2018       2019
분류
건강     0   164   118   0.000000   8.287014   5.346624
경제     0    95   107   0.000000   4.800404   4.848210
교통     6   428   652  66.666667  21.627084  29.542365
문화     0   118   241   0.000000   5.962607  10.919801
복지     1   132   127  11.111111   6.670035   5.754418
세금     0     8     9   0.000000   0.404245   0.407793
안전     1    74    70  11.111111   3.739262   3.171726
여성     0   162   131   0.000000   8.185953   5.935659
주택     0   257   137   0.000000  12.986357   6.207522
환경     1   541   615  11.111111  27.337039  27.865881

In [16]:
# 연도별 민원 분류 개수/비율 테이블을 엑셀로 저장
pd.concat([category_year_size,category_year_percent],axis=1).to_excel('./결과/연도별 민원분류 통계_17_19.xlsx')

## 월별 민원 트랜드 분석

### '월' 컬럼 생성

In [18]:
result_df['월'] = result_df['제안등록일자'].dt.month
result_df['월']

0       12
1       12
2       12
3       12
4       12
        ..
4190    12
4191    12
4192    12
4193    12
4194    12
Name: 월, Length: 4195, dtype: int64

### 민원분류- 월 피벗 테이블 생성

In [19]:
# 월별 민원 분류 개수 테이블
category_month_size = pd.crosstab(result_df['분류'],result_df['월'])
category_month_size

월   1   2   3   4   5    6    7    8    9    10  11   12
분류
건강   7   7   5   8  20   30   16    8   21   23  27  110
경제  15  12   9   5   8   17   13   24   32   22  17   28
교통  33  54  39  53  87   82   69  113  105  103  77  271
문화  20  14  11  14  28   30   39   66   42   26  24   45
복지   7  13  10   4  15   18   17   33   27   33  36   47
세금   0   2   0   1   3    1    2    3    2    2   1    0
안전   3  11   3   7  15   12   14   14   17   16  16   17
여성   6  10   5  14  16   60   24   31   21   10  46   50
주택   8  25   6  16  16   27   28   35  108   36  35   54
환경  50  41  39  86  77  104  106  114  137  108  98  197

In [20]:
# 월별 민원 분류 비율 테이블
category_month_percent = pd.crosstab(result_df['분류'],result_df['월']).apply(lambda x:x/x.sum()*100,axis=0)
category_month_percent

월,1,2,3,4,5,6,7,8,9,10,11,12
분류,,,,,,,,,,,,
건강,4.697987,3.703704,3.937008,3.846154,7.017544,7.874016,4.878049,1.814059,4.101562,6.068602,7.161804,13.431013
경제,10.067114,6.349206,7.086614,2.403846,2.807018,4.461942,3.963415,5.442177,6.250000,5.804749,4.509284,3.418803
교통,22.147651,28.571429,30.708661,25.480769,30.526316,21.522310,21.036585,25.623583,20.507812,27.176781,20.424403,33.089133
문화,13.422819,7.407407,8.661417,6.730769,9.824561,7.874016,11.890244,14.965986,8.203125,6.860158,6.366048,5.494505
복지,4.697987,6.878307,7.874016,1.923077,5.263158,4.724409,5.182927,7.482993,5.273438,8.707124,9.549072,5.738706
세금,0.000000,1.058201,0.000000,0.480769,1.052632,0.262467,0.609756,0.680272,0.390625,0.527704,0.265252,0.000000
안전,2.013423,5.820106,2.362205,3.365385,5.263158,3.149606,4.268293,3.174603,3.320312,4.221636,4.244032,2.075702
여성,4.026846,5.291005,3.937008,6.730769,5.614035,15.748031,7.317073,7.029478,4.101562,2.638522,12.201592,6.105006
주택,5.369128,13.227513,4.724409,7.692308,5.614035,7.086614,8.536585,7.936508,21.093750,9.498681,9.283820,6.593407
환경,33.557047,21.693122,30.708661,41.346154,27.017544,27.296588,32.317073,25.850340,26.757812,28.496042,25.994695,24.053724

In [21]:
# 연도별 민원 분류 개수/비율 테이블 통합
pd.concat([category_month_size,category_month_percent],axis=1)

월,1,2,3,4,5,6,7,8,9,10,...,3,4,5,6,7,8,9,10,11,12
분류,,,,,,,,,,,,,,,,,,,,,
건강,7,7,5,8,20,30,16,8,21,23,...,3.937008,3.846154,7.017544,7.874016,4.878049,1.814059,4.101562,6.068602,7.161804,13.431013
경제,15,12,9,5,8,17,13,24,32,22,...,7.086614,2.403846,2.807018,4.461942,3.963415,5.442177,6.250000,5.804749,4.509284,3.418803
교통,33,54,39,53,87,82,69,113,105,103,...,30.708661,25.480769,30.526316,21.522310,21.036585,25.623583,20.507812,27.176781,20.424403,33.089133
문화,20,14,11,14,28,30,39,66,42,26,...,8.661417,6.730769,9.824561,7.874016,11.890244,14.965986,8.203125,6.860158,6.366048,5.494505
복지,7,13,10,4,15,18,17,33,27,33,...,7.874016,1.923077,5.263158,4.724409,5.182927,7.482993,5.273438,8.707124,9.549072,5.738706
세금,0,2,0,1,3,1,2,3,2,2,...,0.000000,0.480769,1.052632,0.262467,0.609756,0.680272,0.390625,0.527704,0.265252,0.000000
안전,3,11,3,7,15,12,14,14,17,16,...,2.362205,3.365385,5.263158,3.149606,4.268293,3.174603,3.320312,4.221636,4.244032,2.075702
여성,6,10,5,14,16,60,24,31,21,10,...,3.937008,6.730769,5.614035,15.748031,7.317073,7.029478,4.101562,2.638522,12.201592,6.105006
주택,8,25,6,16,16,27,28,35,108,36,...,4.724409,7.692308,5.614035,7.086614,8.536585,7.936508,21.093750,9.498681,9.283820,6.593407
환경,50,41,39,86,77,104,106,114,137,108,...,30.708661,41.346154,27.017544,27.296588,32.317073,25.850340,26.757812,28.496042,25.994695,24.053724

In [22]:
# 월별 민원 분류 개수/비율 테이블을 엑셀로 저장
pd.concat([category_month_size,category_month_percent],axis=1).to_excel('./결과/월별 민원분류 통계_17_19.xlsx')

# 02 민원 단어 빈도수 분석

## 전체 민원 빈도수 분석

### 단어 빈도 벡터 생성

In [25]:
tf_vectorizer = CountVectorizer(analyzer='word',
                             lowercase=False,
                             tokenizer=None,
                             preprocessor=None,
                             min_df=5,
                             ngram_range=(1,2)
                             )

### 빈 벡터에 단어 리스트 투입

In [26]:
tf_vector = tf_vectorizer.fit_transform(result_df['tokens'].astype(str))

### 단어 빈도수 계산

In [27]:
tf_scores = tf_vector.toarray().sum(axis=0)
tf_idx = np.argsort(-tf_scores)
tf_scores = tf_scores[tf_idx]
tf_vocab = np.array(tf_vectorizer.get_feature_names())[tf_idx]

C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

### 빈도수 상위 200개 단어 출력

In [28]:
print(list(zip(tf_vocab, tf_scores))[:200])

[('위하다', 2442), ('시민', 2197), ('설치', 1941), ('버스', 1774), ('만들다', 1485), ('필요', 1392), ('받다', 1331), ('지하철', 1251), ('가다', 1167), ('정책', 1118), ('공간', 1055), ('알다', 1055), ('많이', 1018), ('차량', 999), ('환경', 948), ('크다', 942), ('사회', 928), ('주민', 904), ('효과', 892), ('자전거', 871), ('시설', 869), ('살다', 844), ('사업', 824), ('안전', 813), ('불편', 811), ('가능', 799), ('지원', 772), ('장애인', 767), ('들다', 758), ('도로', 746), ('쓰레기', 728), ('교육', 727), ('아이', 721), ('미세먼지', 697), ('타다', 687), ('노선', 684), ('택시', 683), ('해결', 674), ('운영', 665), ('관리', 659), ('아파트', 650), ('시장', 629), ('국민', 603), ('도시', 597), ('또한', 595), ('정부', 585), ('바라다', 585), ('드리다', 583), ('공원', 574), ('학교', 565), ('오다', 548), ('문화', 537), ('세요', 531), ('상황', 527), ('학생', 527), ('교통', 525), ('비용', 520), ('또는', 518), ('주차', 515), ('공사', 513), ('쓰다', 500), ('개발', 500), ('나오다', 497), ('함께', 497), ('정보', 496), ('도움', 492), ('어렵다', 490), ('다니다', 468), ('따릉이', 459), ('쉽다', 457), ('제도', 453), ('모든', 450), ('사고', 449), ('주차장', 445), ('생활', 444), ('청소년', 443), ('줄이다', 440), ('찾다', 440), ('계획', 439), ('예산', 433), ('서비스', 430), ('시행', 424), ('센터', 421), ('시스템', 420), ('거리', 419), ('기사', 419), ('여성', 417), ('이유', 414), ('홍보', 410), ('건물', 408), ('모르다', 406), ('노인', 406), ('참여', 403), ('힘들다', 403), ('구간', 402), ('맞다', 400), ('운행', 396), ('한국', 396), ('인식', 393), ('안내', 390), ('부족', 389), ('국가', 389), ('임산부', 389), ('한강', 386), ('주택', 384), ('높다', 381), ('가장', 381), ('가정', 380), ('건강', 377), ('처리', 376), ('추진', 373), ('경제', 369), ('위험', 368), ('바로', 367), ('보호', 364), ('의무', 359), ('제한', 358), ('같이', 357), ('이동', 355), ('피해', 352), ('이렇게', 348), ('신고', 346), ('제로페이', 344), ('활성화', 343), ('작다', 342), ('일반', 340), ('관심', 338), ('위치', 336), ('인간', 333), ('우선', 333), ('대중교통', 332), ('생기다', 331), ('추가', 330), ('의견', 330), ('올리다', 329), ('기준', 328), ('이루어지다', 322), ('기존', 321), ('대한민국', 321), ('부탁드리다', 320), ('행정', 315), ('단속', 315), ('판매', 313), ('횡단보도', 312), ('개인', 312), ('공무원', 311), ('청년', 308), ('어르신', 307), ('외국인', 306), ('표시', 306), ('확대', 306), ('연결', 304), ('방향', 304), ('우리나라', 304), ('매우', 302), ('발전', 302), ('검토', 301), ('자원', 300), ('플라스틱', 300), ('카드', 300), ('제대로', 299), ('증가', 297), ('재활용', 296), ('운동', 291), ('예방', 290), ('대책', 289), ('방지', 288), ('불법', 287), ('일부', 286), ('확보', 286), ('조사', 285), ('회사', 285), ('역사', 283), ('직접', 281), ('한번', 281), ('걷다', 280), ('거주', 279), ('적극', 279), ('어린이', 279), ('수거', 278), ('업체', 276), ('업무', 275), ('인권', 273), ('부담', 271), ('환승', 270), ('요금', 270), ('상태', 269), ('실시', 264), ('공기', 263), ('일자리', 262), ('늘리다', 258), ('화장실', 257), ('노력', 257), ('자리', 256), ('적용', 256), ('조성', 255), ('건축', 254), ('다르다', 254), ('나라', 254), ('구청', 253)]

### 단어 빈도수 테이블 생성(상위 200개)

In [29]:
tf_vocab_table = pd.DataFrame(list(zip(tf_vocab, tf_scores))[:200])
tf_vocab_table

       0     1
0    위하다  2442
1     시민  2197
2     설치  1941
3     버스  1774
4    만들다  1485
..   ...   ...
195   조성   255
196   건축   254
197  다르다   254
198   나라   254
199   구청   253

[200 rows x 2 columns]

### 컬럼 이름 부여

In [30]:
tf_vocab_table.columns = ['단어','빈도수']
tf_vocab_table

      단어   빈도수
0    위하다  2442
1     시민  2197
2     설치  1941
3     버스  1774
4    만들다  1485
..   ...   ...
195   조성   255
196   건축   254
197  다르다   254
198   나라   254
199   구청   253

[200 rows x 2 columns]

### 단어-빈도수 테이블을 엑셀로 저장

In [51]:
tf_vocab_table.to_excel('./결과/전체_단어_빈도수_17_19.xlsx',index=None)

## 주요 민원 분류 단어 빈도수 분석

### '환경' 분류

### '환경' 분류 토큰 컬럼

In [22]:
result_df[result_df['분류']=='환경']['tokens']

0       ['중금속', '중금속', '분리', '중금속', '중금속', '분리', '폐수',...
1       ['제설', '염소', '환경오염', '일으키다', '환경', '바꾸다', '새',...
3       ['재활용', '정거장', '원룸', '재활용', '쓰레기통', '지원', '늘리다...
6       ['관광', '대한민국', '항상', '출퇴근', '인천공항', '철도', '외국'...
7       ['서울시청', '브리핑', '룸', '조명', '시설', '설치', '세요', '...
                              ...
4168    ['지하철', '공공', '환경', '지하철', '공공', '환경', '시민', '...
4171    ['미세먼지', '대책', '경유차', '운행', '제한', '피해자', '올해',...
4183    ['현수막', '재활용', '공익', '자원', '재활용', '현수막', '재활용'...
4184    ['수소', '충전소', '확충', '수소', '충전소', '상암', '양재', '...
4190    ['버스', '정류장', '근처', '빛', '공해', '해결', '강동구', '명...
Name: tokens, Length: 1157, dtype: object

### 빈 벡터에 '환경' 분류 단어 리스트 투입

In [23]:
tf_vector_environ = tf_vectorizer.fit_transform(result_df[result_df['분류']=='환경']['tokens'].astype(str))

### 단어 빈도수 계산

In [24]:
tf_scores_environ = tf_vector_environ.toarray().sum(axis=0)
tf_idx_environ = np.argsort(-tf_scores_environ)
tf_scores_environ = tf_scores_environ[tf_idx_environ]
tf_vocab_environ = np.array(tf_vectorizer.get_feature_names())[tf_idx_environ]

C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

### '환경' 분류 빈도수 상위 200개 단어 출력

In [25]:
print(list(zip(tf_vocab_environ, tf_scores_environ))[:200])

[('설치', 733), ('시민', 690), ('쓰레기', 648), ('미세먼지', 615), ('환경', 558), ('위하다', 541), ('만들다', 484), ('공원', 376), ('필요', 343), ('많이', 340), ('효과', 315), ('공간', 311), ('차량', 289), ('플라스틱', 288), ('재활용', 267), ('시설', 254), ('수거', 254), ('가다', 251), ('정책', 244), ('알다', 240), ('크다', 235), ('도시', 231), ('공기', 228), ('가능', 215), ('쓰레기통', 206), ('들다', 205), ('처리', 205), ('받다', 205), ('한강', 204), ('줄이다', 202), ('배출', 199), ('관리', 198), ('비용', 190), ('쓰다', 185), ('정부', 182), ('나무', 178), ('에너지', 175), ('살다', 175), ('사업', 174), ('해결', 169), ('건물', 166), ('도로', 165), ('주민', 163), ('걷다', 162), ('사회', 159), ('버스', 159), ('국민', 158), ('자원', 157), ('운동', 152), ('운영', 151), ('나오다', 150), ('예산', 150), ('오다', 149), ('물건', 148), ('거리', 147), ('포장', 147), ('바라다', 147), ('음식', 145), ('또한', 142), ('건강', 140), ('인간', 139), ('불편', 137), ('드리다', 136), ('생활', 135), ('조성', 134), ('판매', 134), ('의무', 129), ('업체', 129), ('자연', 128), ('함께', 127), ('다니다', 127), ('개발', 124), ('또는', 124), ('세요', 121), ('발전', 120), ('지원', 118), ('아파트', 118), ('생산', 118), ('그늘', 118), ('일회용', 117), ('보호', 117), ('봉투', 116), ('음식물', 116), ('자전거', 114), ('작다', 113), ('비닐', 112), ('참여', 112), ('시스템', 111), ('한국', 111), ('안전', 110), ('놀이터', 110), ('도움', 109), ('국가', 109), ('자동차', 109), ('전기', 108), ('시장', 108), ('저감', 108), ('높다', 108), ('관심', 107), ('모든', 106), ('찾다', 106), ('이렇게', 104), ('아이', 103), ('쉽다', 102), ('다리', 101), ('같이', 100), ('어렵다', 100), ('제거', 100), ('상품', 100), ('센터', 99), ('시행', 99), ('바로', 98), ('종이', 98), ('가로수', 98), ('부족', 97), ('대책', 97), ('태양광', 97), ('인권', 96), ('변화', 95), ('우리나라', 94), ('실천', 94), ('교육', 93), ('용기', 92), ('심다', 92), ('절감', 92), ('대기', 92), ('홍보', 92), ('생기다', 91), ('학교', 90), ('일부', 90), ('일반', 90), ('문화', 90), ('위험', 89), ('부탁드리다', 89), ('분리수거', 89), ('힘들다', 88), ('오염', 88), ('기술', 88), ('청계천', 88), ('구매', 88), ('길거리', 87), ('순환', 87), ('경제', 87), ('가장', 86), ('절약', 86), ('직접', 86), ('도심', 86), ('매우', 85), ('맞다', 85), ('배달', 85), ('낭비', 84), ('제도', 84), ('개인', 84), ('타다', 83), ('방지', 83), ('정화', 83), ('미화', 83), ('모르다', 82), ('제품', 82), ('인식', 82), ('행정', 81), ('상태', 81), ('상황', 80), ('청소', 80), ('노력', 79), ('대한민국', 79), ('바꾸다', 79), ('바닥', 79), ('구청', 78), ('운행', 77), ('세계', 77), ('장치', 77), ('먼지', 77), ('확대', 77), ('빗물', 76), ('남다', 76), ('금지', 76), ('적극', 75), ('연료', 75), ('일정', 75), ('활성화', 74), ('중국', 73), ('재생', 73), ('분야', 73), ('구간', 73), ('노동자', 72), ('감소', 72), ('적용', 72), ('실내', 72), ('여름', 71), ('냄새', 71), ('오늘', 71), ('주차', 70), ('정보', 70), ('제대로', 70), ('분리', 70), ('마일리지', 69), ('옥상', 69), ('은평', 69), ('가정', 69)]

### 단어 빈도수 테이블 생성(상위 200개)

In [26]:
tf_vocab_environ_table = pd.DataFrame(list(zip(tf_vocab_environ, tf_scores_environ))[:200])
tf_vocab_environ_table.columns = ['단어','빈도수']
tf_vocab_environ_table

       단어  빈도수
0      설치  733
1      시민  690
2     쓰레기  648
3    미세먼지  615
4      환경  558
..    ...  ...
195    분리   70
196  마일리지   69
197    옥상   69
198    은평   69
199    가정   69

[200 rows x 2 columns]

### 단어-빈도수 테이블을 엑셀로 저장

In [27]:
tf_vocab_environ_table.to_excel('환경_단어_빈도수.xlsx',index=None)

### '교통' 분류

### '교통' 분류 토큰 컬럼

In [28]:
result_df[result_df['분류']=='교통']['tokens']

4       ['임산부', '석', '마냥', '비우다', '지하철', '자주', '애용', '...
5       ['전자', '발찌', '착용자', '어린이', '구역', '접근', '금지', '...
15      ['허', '철', '방향', '표시', '지하철', '타다', '때', '또는',...
17      ['지하철', '무료', '승차', '시간대', '세분', '유', '무료', '실...
19      ['주민센터', '자전거', '공기압', '주입기', '설치', '바라다', '관계...
                              ...
4188    ['소화전', '불법주차', '시민', '신고', '제이미', '도로교통', '법'...
4191    ['서울시내', '버스', '안내', '방송', '드리다', '시내', '버스', ...
4192    ['서울역', '인근', '버스정류장', '병행', '표기', '버스', '타다',...
4193      ['따릉이', '보관소', '설치', '서초역', '따릉이', '보관소', '설치']
4194    ['이륜차', '오토바이', '업소', '행정지', '거리', '질서', '확립',...
Name: tokens, Length: 1086, dtype: object

### 빈 벡터에 '교통' 분류 단어 리스트 투입

In [29]:
tf_vector_traffic = tf_vectorizer.fit_transform(result_df[result_df['분류']=='교통']['tokens'].astype(str))

### 단어 빈도수 계산

In [30]:
tf_scores_traffic = tf_vector_traffic.toarray().sum(axis=0)
tf_idx_traffic = np.argsort(-tf_scores_traffic)
tf_scores_traffic = tf_scores_traffic[tf_idx_traffic]
tf_vocab_traffic = np.array(tf_vectorizer.get_feature_names())[tf_idx_traffic]

C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

### '교통' 분류 빈도수 상위 200개 단어 출력

In [31]:
print(list(zip(tf_vocab_traffic, tf_scores_traffic))[:200])

[('버스', 1490), ('지하철', 1008), ('자전거', 722), ('노선', 650), ('설치', 633), ('시민', 595), ('택시', 567), ('타다', 526), ('차량', 519), ('위하다', 472), ('따릉이', 408), ('불편', 406), ('가다', 395), ('도로', 356), ('임산부', 349), ('교통', 349), ('안전', 332), ('필요', 325), ('많이', 297), ('만들다', 293), ('운행', 282), ('기사', 277), ('환승', 258), ('장애인', 257), ('구간', 256), ('대중교통', 251), ('알다', 236), ('횡단보도', 229), ('주차', 226), ('안내', 223), ('사고', 218), ('계획', 218), ('가능', 217), ('이동', 208), ('크다', 208), ('정류장', 204), ('요금', 204), ('표시', 202), ('승객', 198), ('단속', 198), ('신호등', 191), ('다니다', 189), ('방향', 189), ('들다', 187), ('차선', 186), ('운전자', 185), ('시내버스', 177), ('신호', 176), ('위험', 174), ('받다', 171), ('운전', 171), ('승차', 168), ('상황', 168), ('드리다', 164), ('앉다', 163), ('효과', 158), ('출퇴근', 156), ('주차장', 156), ('시스템', 155), ('신설', 153), ('위치', 152), ('나오다', 151), ('운영', 150), ('오다', 148), ('해결', 147), ('거리', 146), ('서비스', 141), ('내리다', 140), ('버스 노선', 140), ('상대', 140), ('추진', 139), ('탑승', 137), ('바로', 131), ('좌석', 130), ('신고', 130), ('세요', 130), ('또는', 129), ('추가', 126), ('우선', 126), ('기다리다', 126), ('강남', 123), ('정책', 122), ('연장', 122), ('교통카드', 122), ('수요', 120), ('자리', 119), ('버스정류장', 119), ('어렵다', 118), ('기존', 117), ('배려석', 117), ('줄이다', 117), ('하차', 117), ('불법', 116), ('쉽다', 115), ('번호', 114), ('이용자', 112), ('바라다', 110), ('정차', 110), ('모르다', 110), ('택시 기사', 110), ('공간', 109), ('제도', 109), ('헬멧', 109), ('매우', 108), ('사거리', 108), ('휠체어', 108), ('연결', 108), ('시행', 107), ('일반', 106), ('도움', 106), ('또한', 106), ('쓰다', 105), ('인도', 105), ('방송', 104), ('도입', 104), ('급행', 103), ('변경', 102), ('간격', 102), ('이렇게', 102), ('가장', 101), ('손님', 101), ('자동차', 101), ('모든', 100), ('빠르다', 100), ('아이', 99), ('교차로', 99), ('이유', 99), ('마을버스', 99), ('힘들다', 99), ('비용', 98), ('보행자', 98), ('편리', 97), ('정보', 95), ('다음', 95), ('배차', 95), ('서다', 95), ('목동', 94), ('카드', 93), ('저상', 92), ('오토바이', 92), ('길다', 92), ('저상 버스', 91), ('시장', 90), ('사업', 90), ('속도', 90), ('높다', 90), ('열차', 90), ('늘리다', 89), ('부탁드리다', 88), ('인식', 88), ('승강장', 88), ('생기다', 88), ('임산부 배려석', 88), ('공원', 87), ('검토', 87), ('부착', 87), ('공사', 86), ('도시', 86), ('주정차', 86), ('회사', 85), ('확보', 85), ('건너다', 85), ('제한', 85), ('살다', 85), ('배려', 84), ('노인', 84), ('자전거 타다', 83), ('승하차', 82), ('외국인', 82), ('지방', 82), ('함께', 82), ('도착', 82), ('보행', 82), ('경전철', 81), ('건의', 80), ('자주', 80), ('아파트', 80), ('주민', 79), ('해소', 79), ('환경', 79), ('지나가다', 79), ('서울역', 78), ('찾다', 78), ('시설', 77), ('같이', 77), ('예산', 76), ('관리', 76), ('들어가다', 76), ('통행', 76), ('올리다', 75), ('어린이', 75), ('신분당선', 75), ('입구', 74), ('문화', 74), ('부족', 74), ('피해', 73), ('역사', 73), ('어르신', 73), ('중앙', 73), ('버스 타다', 73)]

### 단어 빈도수 테이블 생성(상위 200개)

In [32]:
tf_vocab_traffic_table = pd.DataFrame(list(zip(tf_vocab_traffic, tf_scores_traffic))[:200])
tf_vocab_traffic_table.columns = ['단어','빈도수']
tf_vocab_traffic_table

        단어   빈도수
0       버스  1490
1      지하철  1008
2      자전거   722
3       노선   650
4       설치   633
..     ...   ...
195     피해    73
196     역사    73
197    어르신    73
198     중앙    73
199  버스 타다    73

[200 rows x 2 columns]

### 단어-빈도수 테이블을 엑셀로 저장

In [34]:
tf_vocab_traffic_table.to_excel('교통_단어_빈도수.xlsx',index=None)

## 단어-빈도수 테이블 만들기 (모든 분류별)

In [31]:
def cn(word):
    result_df[result_df['분류']==word]['tokens']
    
    # 빈 벡터에 분류 단어 리스트 투입
    tf_vector_traffic = tf_vectorizer.fit_transform(result_df[result_df['분류']==word]['tokens'].astype(str))
    
    # 단어 빈도수 계산
    tf_scores_traffic = tf_vector_traffic.toarray().sum(axis=0)
    tf_idx_traffic = np.argsort(-tf_scores_traffic)
    tf_scores_traffic = tf_scores_traffic[tf_idx_traffic]
    tf_vocab_traffic = np.array(tf_vectorizer.get_feature_names())[tf_idx_traffic]
    
    # 분류 빈도수 상위 200개 단어 출력
    #print(list(zip(tf_vocab_traffic, tf_scores_traffic))[:200])
    
    # 단어 빈도수 테이블 생성(상위 200개)
    if word == "세금":
        tf_vocab_traffic_table = pd.DataFrame(list(zip(tf_vocab_traffic, tf_scores_traffic)))
        tf_vocab_traffic_table.columns = ['단어','빈도수']
    else:    
        tf_vocab_traffic_table = pd.DataFrame(list(zip(tf_vocab_traffic, tf_scores_traffic))[:200])
        tf_vocab_traffic_table.columns = ['단어','빈도수']
        
    # 단어-빈도수 테이블을 엑셀로 저장
    tf_vocab_traffic_table.to_excel(f'./결과/{word}_단어_빈도수_17_19.xlsx',index=None)

In [32]:
for i in set(result_df['분류']):
    cn(i)

C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)