# 00 라이브러리 & 민원분류 결과 로딩

### 라이브러리

In [ ]:
import pandas as pd
import numpy as np
import pickle

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

### 민원분류 결과 불러오기

In [3]:
os.chdir("c:/머신러닝/미니프로젝트/데이터")
print(os.getcwd())

c:\머신러닝\미니프로젝트\데이터

In [4]:
result_df = pd.read_excel('민원분류 예측결과2.xlsx')
result_df

,제안번호,제안제목,제안내용,제안등록일자,contents,tokens,all_tokens,분류,분류2
0,192222,북부 직업훈련원 본부 장애인 화장실 문고리 중앙으로,http://democracy.seoul.go.kr/front/freeSuggest...,2022-03-10 22:40:32,북부 직업훈련원 본부 장애인 화장실 문고리 중앙으로,"['북부', '직업', '훈련원', '본부', '장애인', '화장실', '문고리',...","['북부', '직업', '훈련원', '', '본부', '장애인', '화장실', ''...",복지,교통
1,192221,수도요금 고지서를 개선하여 시민들에게 납부편의(식별용이)를 제공해 주세요!,http://democracy.seoul.go.kr/front/freeSuggest...,2022-03-10 22:22:22,수도요금 고지서를 개선하여 시민들에게 납부편의(식별용이)를 제공해 주세요!,"['수도', '요금', '고지서', '시민', '납부', '편의', '식별', '용이']","['수도', '요금', '고지서', '를', '하', '아', '시민', '들', ...",환경,교통
2,192220,환경미화원 안전과 인권을 위해 작업시간 변경을 요청합니다,http://democracy.seoul.go.kr/front/freeSuggest...,2022-03-10 19:10:58,환경미화원 안전과 인권을 위해 작업시간 변경을 요청합니다,"['환경미화', '안전', '인권', '위하다', '작업', '변경']","['환경미화', '원', '안전', '과', '인권', '위하', '아', '작업'...",안전,교통
3,192219,비리가 없는 공무직 채용으로 바꿔주세요,http://democracy.seoul.go.kr/front/freeSuggest...,2022-03-10 18:20:48,비리가 없는 공무직 채용으로 바꿔주세요,"['비리', '공무', '채용', '바꾸다']","['비리', '가', '없', '는', '공무', '직', '채용', '으로', '...",경제,복지
4,192218,희년제도부활 희년자유경제특구개발130. 5개년,http://democracy.seoul.go.kr/front/freeSuggest...,2022-03-10 07:29:25,희년제도부활 희년자유경제특구개발130. 5개년,"['희년', '부활', '희년', '자유', '경제특구', '개발']","['희년', '제', '도', '부활', '희년', '자유', '경제특구', '개발...",문화,주택
...,...,...,...,...,...,...,...,...,...
4809,186616,코로나로 인해 사회멈춤이 해결방안이 맞나요,http://democracy.seoul.go.kr/front/freeSuggest...,2020-03-11 10:14:32,코로나로 인해 사회멈춤이 해결방안이 맞나요,"['코로나', '사회', '멈추다', '해결방안', '맞다']","['코로나', '로', '인하', '아', '사회', '멈추', 'ㅁ', '해결방안...",복지,교통
4810,186615,코로나 바이러스로 교회예배를 금지해주세요,http://democracy.seoul.go.kr/front/freeSuggest...,2020-03-11 10:00:19,코로나 바이러스로 교회예배를 금지해주세요,"['코로나', '바이러스', '교회', '예배', '금지']","['코로나', '바이러스', '로', '교회', '예배', '를', '금지', '하...",건강,환경
4811,186614,마스크 5부제 수량 증가 요청,http://democracy.seoul.go.kr/front/freeSuggest...,2020-03-11 09:58:25,마스크 5부제 수량 증가 요청,"['마스크', '수량', '증가']","['마스크', '5', '부제', '수량', '증가']",환경,교통
4812,186613,콜센타인근학원휴강권고요청,http://democracy.seoul.go.kr/front/freeSuggest...,2020-03-11 09:56:02,콜센타인근학원휴강권고요청,"['콜', '센타', '인근', '학원', '휴강', '권고']","['콜', '센타', '인근', '학원', '휴강', '권고']",건강,여성
4813,186612,서울 전국 콜센터 관련하여,http://democracy.seoul.go.kr/front/freeSuggest...,2020-03-11 09:46:58,서울 전국 콜센터 관련하여,"['전국', '콜센터']","['전국', '콜센터', '하', '아']",복지,여성

# 01 기술통계량 분석 #

## 민원 분류 예측결과 테이블로 정리

In [5]:
category_table = result_df[['분류','분류2']].apply(pd.Series.value_counts)
category_table

      분류   분류2
건강   380   561
경제   351   396
교통  1115   513
문화   314   468
복지   399   484
세금    10    31
안전   237   717
여성   159   220
주택   516   346
환경  1333  1078

### '분류' 내림차순으로 재정렬

In [6]:
category_table = category_table.sort_values(by='분류',ascending=False)
category_table

      분류   분류2
환경  1333  1078
교통  1115   513
주택   516   346
복지   399   484
건강   380   561
경제   351   396
문화   314   468
안전   237   717
여성   159   220
세금    10    31

### 민원 분류 예측결과 테이블 엑셀로 저장

In [7]:
category_table.to_excel('./결과/민원분류 예측결과 개수_20_22.xlsx')

## 연도별 민원 트랜드 분석

### '연도' 컬럼 생성

In [8]:
result_df['연도'] = result_df['제안등록일자'].dt.year
result_df['연도']

0       2022
1       2022
2       2022
3       2022
4       2022
        ...
4809    2020
4810    2020
4811    2020
4812    2020
4813    2020
Name: 연도, Length: 4814, dtype: int64

### 민원분류-연도 피벗 테이블 생성

In [9]:
# 연도별 민원 분류 개수 테이블
category_year_size = pd.crosstab(result_df['분류'],result_df['연도'])
category_year_size

연도  2020  2021  2022
분류
건강   211   156    13
경제   191   140    20
교통   495   570    50
문화   141   161    12
복지   188   189    22
세금     5     5     0
안전   128   101     8
여성    77    73     9
주택   206   276    34
환경   603   680    50

In [10]:
# 연도별 민원 분류 비율 테이블
category_year_percent = pd.crosstab(result_df['분류'],result_df['연도']).apply(lambda x:x/x.sum()*100,axis=0)
category_year_percent

연도       2020       2021       2022
분류
건강   9.398664   6.635474   5.963303
경제   8.507795   5.954913   9.174312
교통  22.048998  24.245002  22.935780
문화   6.280624   6.848150   5.504587
복지   8.374165   8.039132  10.091743
세금   0.222717   0.212675   0.000000
안전   5.701559   4.296044   3.669725
여성   3.429844   3.105062   4.128440
주택   9.175947  11.739685  15.596330
환경  26.859688  28.923862  22.935780

In [11]:
# 연도별 민원 분류 개수/비율 테이블 통합
pd.concat([category_year_size,category_year_percent],axis=1)

연도  2020  2021  2022       2020       2021       2022
분류
건강   211   156    13   9.398664   6.635474   5.963303
경제   191   140    20   8.507795   5.954913   9.174312
교통   495   570    50  22.048998  24.245002  22.935780
문화   141   161    12   6.280624   6.848150   5.504587
복지   188   189    22   8.374165   8.039132  10.091743
세금     5     5     0   0.222717   0.212675   0.000000
안전   128   101     8   5.701559   4.296044   3.669725
여성    77    73     9   3.429844   3.105062   4.128440
주택   206   276    34   9.175947  11.739685  15.596330
환경   603   680    50  26.859688  28.923862  22.935780

In [12]:
# 연도별 민원 분류 개수/비율 테이블을 엑셀로 저장
pd.concat([category_year_size,category_year_percent],axis=1).to_excel('./결과/연도별 민원분류 통계_20_22.xlsx')

## 월별 민원 트랜드 분석

### '월' 컬럼 생성

In [13]:
result_df['월'] = result_df['제안등록일자'].dt.month
result_df['월']

0       3
1       3
2       3
3       3
4       3
       ..
4809    3
4810    3
4811    3
4812    3
4813    3
Name: 월, Length: 4814, dtype: int64

### 민원분류- 월 피벗 테이블 생성

In [14]:
# 월별 민원 분류 개수 테이블
category_month_size = pd.crosstab(result_df['분류'],result_df['월'])
category_month_size

월   1   2   3    4    5    6    7    8    9    10   11   12
분류
건강  14  12  50   42   51   39   33   40   25   19   19   36
경제  10  14  29   66   38   36   56   28   18   10   17   29
교통  47  51  67   94  130  124   97  114  109  121   79   82
문화   9  10  28   46   39   32   31   18   19   27   36   19
복지  24  18  40   56   38   34   35   23   30   25   34   42
세금   0   0   1    2    2    0    1    2    1    0    0    1
안전   9   5  17   43   22   21   21   23   25   16   10   25
여성   2   8  14   15   15   24   12   13   12   13   17   14
주택  31  23  38   74   54   44   55   57   42   30   22   46
환경  54  48  96  176  136  132  131  130  117   87  117  109

In [15]:
# 월별 민원 분류 비율 테이블
category_month_percent = pd.crosstab(result_df['분류'],result_df['월']).apply(lambda x:x/x.sum()*100,axis=0)
category_month_percent

월,1,2,3,4,5,6,7,8,9,10,11,12
분류,,,,,,,,,,,,
건강,7.0,6.349206,13.157895,6.840391,9.714286,8.024691,6.991525,8.928571,6.281407,5.459770,5.413105,8.933002
경제,5.0,7.407407,7.631579,10.749186,7.238095,7.407407,11.864407,6.250000,4.522613,2.873563,4.843305,7.196030
교통,23.5,26.984127,17.631579,15.309446,24.761905,25.514403,20.550847,25.446429,27.386935,34.770115,22.507123,20.347395
문화,4.5,5.291005,7.368421,7.491857,7.428571,6.584362,6.567797,4.017857,4.773869,7.758621,10.256410,4.714640
복지,12.0,9.523810,10.526316,9.120521,7.238095,6.995885,7.415254,5.133929,7.537688,7.183908,9.686610,10.421836
세금,0.0,0.000000,0.263158,0.325733,0.380952,0.000000,0.211864,0.446429,0.251256,0.000000,0.000000,0.248139
안전,4.5,2.645503,4.473684,7.003257,4.190476,4.320988,4.449153,5.133929,6.281407,4.597701,2.849003,6.203474
여성,1.0,4.232804,3.684211,2.442997,2.857143,4.938272,2.542373,2.901786,3.015075,3.735632,4.843305,3.473945
주택,15.5,12.169312,10.000000,12.052117,10.285714,9.053498,11.652542,12.723214,10.552764,8.620690,6.267806,11.414392
환경,27.0,25.396825,25.263158,28.664495,25.904762,27.160494,27.754237,29.017857,29.396985,25.000000,33.333333,27.047146

In [16]:
# 연도별 민원 분류 개수/비율 테이블 통합
pd.concat([category_month_size,category_month_percent],axis=1)

월,1,2,3,4,5,6,7,8,9,10,...,3,4,5,6,7,8,9,10,11,12
분류,,,,,,,,,,,,,,,,,,,,,
건강,14,12,50,42,51,39,33,40,25,19,...,13.157895,6.840391,9.714286,8.024691,6.991525,8.928571,6.281407,5.459770,5.413105,8.933002
경제,10,14,29,66,38,36,56,28,18,10,...,7.631579,10.749186,7.238095,7.407407,11.864407,6.250000,4.522613,2.873563,4.843305,7.196030
교통,47,51,67,94,130,124,97,114,109,121,...,17.631579,15.309446,24.761905,25.514403,20.550847,25.446429,27.386935,34.770115,22.507123,20.347395
문화,9,10,28,46,39,32,31,18,19,27,...,7.368421,7.491857,7.428571,6.584362,6.567797,4.017857,4.773869,7.758621,10.256410,4.714640
복지,24,18,40,56,38,34,35,23,30,25,...,10.526316,9.120521,7.238095,6.995885,7.415254,5.133929,7.537688,7.183908,9.686610,10.421836
세금,0,0,1,2,2,0,1,2,1,0,...,0.263158,0.325733,0.380952,0.000000,0.211864,0.446429,0.251256,0.000000,0.000000,0.248139
안전,9,5,17,43,22,21,21,23,25,16,...,4.473684,7.003257,4.190476,4.320988,4.449153,5.133929,6.281407,4.597701,2.849003,6.203474
여성,2,8,14,15,15,24,12,13,12,13,...,3.684211,2.442997,2.857143,4.938272,2.542373,2.901786,3.015075,3.735632,4.843305,3.473945
주택,31,23,38,74,54,44,55,57,42,30,...,10.000000,12.052117,10.285714,9.053498,11.652542,12.723214,10.552764,8.620690,6.267806,11.414392
환경,54,48,96,176,136,132,131,130,117,87,...,25.263158,28.664495,25.904762,27.160494,27.754237,29.017857,29.396985,25.000000,33.333333,27.047146

In [17]:
# 월별 민원 분류 개수/비율 테이블을 엑셀로 저장
pd.concat([category_month_size,category_month_percent],axis=1).to_excel('./결과/월별 민원분류 통계_20_22.xlsx')

# 02 민원 단어 빈도수 분석

## 전체 민원 빈도수 분석

### 단어 빈도 벡터 생성

In [98]:
tf_vectorizer = CountVectorizer(analyzer='word',
                             lowercase=False,
                             tokenizer=None,
                             preprocessor=None,
                             min_df=2,
                             ngram_range=(1,2)
                             )

### 빈 벡터에 단어 리스트 투입

In [18]:
tf_vector = tf_vectorizer.fit_transform(result_df['tokens'].astype(str))

### 단어 빈도수 계산

In [19]:
tf_scores = tf_vector.toarray().sum(axis=0)
tf_idx = np.argsort(-tf_scores)
tf_scores = tf_scores[tf_idx]
tf_vocab = np.array(tf_vectorizer.get_feature_names())[tf_idx]

C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

### 빈도수 상위 200개 단어 출력

In [20]:
print(list(zip(tf_vocab, tf_scores))[:200])

[('코로나', 451), ('설치', 281), ('위하다', 278), ('지원', 186), ('버스', 183), ('마스크', 144), ('필요', 134), ('만들다', 123), ('지원금', 117), ('재난', 112), ('시민', 112), ('건의', 112), ('지하철', 109), ('시설', 104), ('개발', 94), ('정책', 88), ('거리', 86), ('드리다', 86), ('사업', 85), ('교육', 84), ('주택', 84), ('따릉이', 83), ('긴급', 81), ('제한', 80), ('확대', 78), ('환경', 76), ('방역', 75), ('도로', 71), ('시장', 69), ('공원', 69), ('안전', 68), ('운영', 67), ('재난 지원금', 66), ('자전거', 66), ('공공', 64), ('아파트', 64), ('검사', 63), ('의무', 61), ('노선', 61), ('청년', 61), ('두다', 60), ('공간', 60), ('결혼식', 60), ('사회', 60), ('장애인', 59), ('활성화', 59), ('거리 두다', 58), ('변경', 58), ('신설', 58), ('대책', 55), ('관리', 55), ('관하다', 53), ('백신', 52), ('킥보드', 52), ('소상공인', 51), ('예방', 51), ('지급', 49), ('교통', 49), ('추가', 48), ('시내버스', 47), ('금지', 47), ('자금', 47), ('서비스', 46), ('부탁드리다', 46), ('접종', 46), ('서울특별시', 45), ('생활', 45), ('자영업자', 45), ('제도', 44), ('한강', 44), ('센터', 44), ('차량', 43), ('해결', 43), ('횡단보도', 43), ('규제', 42), ('착용', 42), ('시스템', 41), ('강화', 41), ('재활용', 41), ('쓰레기', 40), ('안내', 40), ('수거', 40), ('주차', 39), ('임산부', 39), ('받다', 39), ('생존', 39), ('생존 자금', 37), ('도입', 37), ('주거', 37), ('노인', 37), ('단속', 37), ('공사', 37), ('반대', 36), ('어린이', 36), ('가능', 36), ('전동', 35), ('학교', 35), ('대중교통', 35), ('공유', 34), ('청소년', 34), ('쓰다', 34), ('택시', 34), ('보호', 34), ('버스정류장', 33), ('주차장', 33), ('인원', 33), ('구역', 33), ('국민', 33), ('한강공원', 32), ('공급', 32), ('홍보', 32), ('생활비', 32), ('전동 킥보드', 32), ('정비', 31), ('마스크 착용', 31), ('바라다', 31), ('기준', 31), ('선별', 31), ('격리', 31), ('일자리', 31), ('조성', 30), ('체육', 30), ('완화', 30), ('확진', 29), ('도시', 29), ('연장', 29), ('여성', 29), ('아이스', 29), ('함께', 28), ('방향', 28), ('카페', 28), ('복지', 28), ('플라스틱', 28), ('사회 거리', 28), ('긴급 재난', 28), ('체육 시설', 27), ('줄이다', 27), ('모든', 27), ('운행', 27), ('백신 접종', 27), ('조정', 26), ('방송', 26), ('시행', 26), ('건축', 26), ('진료소', 26), ('병원', 26), ('도와주다', 26), ('제로페이', 26), ('치료', 25), ('방지', 25), ('조치', 25), ('늘리다', 25), ('추진', 25), ('버스 노선', 24), ('배달', 24), ('긴급 생활비', 24), ('캠페인', 24), ('선별 진료소', 24), ('불편', 24), ('행정', 24), ('영업', 24), ('가다', 24), ('의견', 24), ('위반', 24), ('확산', 24), ('온라인', 24), ('아이', 24), ('환승', 23), ('전용', 23), ('잠실', 23), ('흡연', 23), ('신호등', 23), ('참여', 23), ('오토바이', 23), ('사고', 23), ('운동', 22), ('제작', 22), ('사거리', 22), ('어린이집', 22), ('전기', 22), ('포장', 22), ('도서관', 22), ('정보', 22), ('자영업자 생존', 22), ('통합', 22), ('시대', 22), ('지정', 21), ('역사', 21), ('출입', 21), ('개방', 21), ('프로그램', 21), ('박원순', 21), ('바이러스', 21), ('카드', 21), ('지키다', 21), ('스마트', 21), ('관광', 21), ('실내', 21), ('실업', 20), ('안정', 20)]

### 단어 빈도수 테이블 생성(상위 200개)

In [21]:
tf_vocab_table = pd.DataFrame(list(zip(tf_vocab, tf_scores))[:200])
tf_vocab_table

       0    1
0    코로나  451
1     설치  281
2    위하다  278
3     지원  186
4     버스  183
..   ...  ...
195  스마트   21
196   관광   21
197   실내   21
198   실업   20
199   안정   20

[200 rows x 2 columns]

### 컬럼 이름 부여

In [22]:
tf_vocab_table.columns = ['단어','빈도수']
tf_vocab_table

      단어  빈도수
0    코로나  451
1     설치  281
2    위하다  278
3     지원  186
4     버스  183
..   ...  ...
195  스마트   21
196   관광   21
197   실내   21
198   실업   20
199   안정   20

[200 rows x 2 columns]

### 단어-빈도수 테이블을 엑셀로 저장

In [50]:
tf_vocab_table.to_excel('./결과/전체_단어_빈도수_20_22.xlsx',index=None)

## 주요 민원 분류 단어 빈도수 분석

### '건강' 분류

### '건강' 분류 토큰 컬럼

In [37]:
result_df[result_df['분류']=='건강']['tokens']

23            ['탈모', '피부', '미용', '실비', '보험', '적용', '시키다']
26      ['결혼식', '직계', '원판', '사진', '마스크', '착용', '의무', '...
37                       ['공중', '화장실', '변기', '두껑', '스마트']
43                              ['코로나', '예방법', '및', '치료']
45                        ['코로나', '예방법', '및', '치료', '긴급']
                              ...
4801    ['코로나', '조기', '종식', '위하다', '말', '한마디', '줄이다', ...
4803      ['모든', '직장', '건물', '출입', '때', '발열', '체크', '시행']
4806                          ['임산부', '위하다', '마스크', '무료']
4810                    ['코로나', '바이러스', '교회', '예배', '금지']
4812                  ['콜', '센타', '인근', '학원', '휴강', '권고']
Name: tokens, Length: 380, dtype: object

### 빈 벡터에 '건강' 분류 단어 리스트 투입

In [38]:
tf_vector_traffic = tf_vectorizer.fit_transform(result_df[result_df['분류']=='건강']['tokens'].astype(str))

### 단어 빈도수 계산

In [39]:
tf_scores_traffic = tf_vector_traffic.toarray().sum(axis=0)
tf_idx_traffic = np.argsort(-tf_scores_traffic)
tf_scores_traffic = tf_scores_traffic[tf_idx_traffic]
tf_vocab_traffic = np.array(tf_vectorizer.get_feature_names())[tf_idx_traffic]

C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

### '건강' 분류 빈도수 상위 200개 단어 출력

In [40]:
print(list(zip(tf_vocab_traffic, tf_scores_traffic))[:200])

[('코로나', 96), ('마스크', 65), ('검사', 33), ('착용', 28), ('의무', 27), ('예방', 24), ('위하다', 24), ('접종', 24), ('마스크 착용', 22), ('흡연', 20), ('백신', 19), ('시민', 18), ('금지', 17), ('필요', 16), ('치료', 15), ('시설', 15), ('백신 접종', 14), ('설치', 14), ('출입', 13), ('코로나 검사', 13), ('금연', 13), ('병원', 12), ('착용 의무', 12), ('식당', 12), ('담배', 11), ('코로나 예방', 11), ('화장실', 11), ('감염', 10), ('관리', 10), ('모든', 10), ('바이러스', 10), ('버스', 9), ('코로나 바이러스', 9), ('금연구역', 8), ('단속', 8), ('영업', 8), ('캠페인', 8), ('환자', 8), ('실내', 7), ('마스크 의무', 7), ('코로나 백신', 7), ('강화', 7), ('유흥업소', 7), ('음식점', 7), ('받다', 7), ('방역', 7), ('건강', 7), ('청소년', 6), ('거리', 6), ('풀다', 6), ('카페', 6), ('건의', 6), ('홍보', 6), ('격리', 6), ('방송', 6), ('비치', 6), ('안내', 6), ('지정', 5), ('확진', 5), ('명령', 5), ('보건소', 5), ('서비스', 5), ('만들다', 5), ('소독', 5), ('시행', 5), ('업소', 5), ('연기', 5), ('예방 접종', 5), ('위생', 5), ('교육', 5), ('제작', 5), ('결과', 5), ('조치', 5), ('집합 금지', 5), ('집합', 5), ('증상', 5), ('구역', 5)]

### 단어 빈도수 테이블 생성(상위 200개)

In [41]:
tf_vocab_traffic_table = pd.DataFrame(list(zip(tf_vocab_traffic, tf_scores_traffic))[:200])
tf_vocab_traffic_table.columns = ['단어','빈도수']
tf_vocab_traffic_table

       단어  빈도수
0     코로나   96
1     마스크   65
2      검사   33
3      착용   28
4      의무   27
..    ...  ...
72     조치    5
73  집합 금지    5
74     집합    5
75     증상    5
76     구역    5

[77 rows x 2 columns]

### 단어-빈도수 테이블을 엑셀로 저장

In [42]:
tf_vocab_traffic_table.to_excel('건강_단어_빈도수_20_22.xlsx',index=None)

## 단어-빈도수 테이블 만들기 (모든 분류별)

In [97]:
tf_vectorizer

CountVectorizer(lowercase=False, min_df=5, ngram_range=(1, 2))

In [99]:
def cn(word):
    result_df[result_df['분류']==word]['tokens']
    
    # 빈 벡터에 분류 단어 리스트 투입
    tf_vector_traffic = tf_vectorizer.fit_transform(result_df[result_df['분류']==word]['tokens'].astype(str))
    
    # 단어 빈도수 계산
    tf_scores_traffic = tf_vector_traffic.toarray().sum(axis=0)
    tf_idx_traffic = np.argsort(-tf_scores_traffic)
    tf_scores_traffic = tf_scores_traffic[tf_idx_traffic]
    tf_vocab_traffic = np.array(tf_vectorizer.get_feature_names())[tf_idx_traffic]
    
    # 분류 빈도수 상위 200개 단어 출력
    #print(list(zip(tf_vocab_traffic, tf_scores_traffic))[:200])
    
    # 단어 빈도수 테이블 생성(상위 200개)
    if word == "세금":
        tf_vocab_traffic_table = pd.DataFrame(list(zip(tf_vocab_traffic, tf_scores_traffic)))
        tf_vocab_traffic_table.columns = ['단어','빈도수']
    else:    
        tf_vocab_traffic_table = pd.DataFrame(list(zip(tf_vocab_traffic, tf_scores_traffic))[:200])
        tf_vocab_traffic_table.columns = ['단어','빈도수']
        
    # 단어-빈도수 테이블을 엑셀로 저장
    tf_vocab_traffic_table.to_excel(f'./결과/{word}_단어_빈도수_20_22.xlsx',index=None)

In [100]:
for i in set(result_df['분류']):
    cn(i)

C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\dkq50\anaconda3\envs\hamtori\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)